.ant-table-thead{
  text-align: center!important;
}
.bread-data{
  font-weight: bold!important;
}
.bread-data:hover {
  color: #448EF7!important;
}
.header .ant-card-head-title{
  font-weight: normal!important;
  font-size: 14px!important;
}

.table-name {
  font-weight: bold;
}
.table-age{
  text-align: center;
}